<div class="header-clock">
  <div class="header-clock-time js-reloj-hora">--:--</div>
  <div class="header-clock-fecha js-reloj-fecha">&nbsp;</div>
</div>
<script>
(function () {
  var dias = ['domingo', 'lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado'];
  var meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio',
               'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'];
  function tick() {
    var d = new Date();
    var hh = String(d.getHours()).padStart(2, '0');
    var mm = String(d.getMinutes()).padStart(2, '0');
    var horaTxt = hh + ':' + mm;
    var fechaTxt = dias[d.getDay()] + ', ' + d.getDate() + ' de ' + meses[d.getMonth()];
    document.querySelectorAll('.js-reloj-hora').forEach(function (el) { el.textContent = horaTxt; });
    document.querySelectorAll('.js-reloj-fecha').forEach(function (el) { el.textContent = fechaTxt; });
  }
  tick();
  setInterval(tick, 10000);
})();
</script>
